* {
    margin: 0;
}

/* .main { */
    /* width: 80vw;
    height: 80vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* } */

/* .center { */
    /* height: 50%;
    width: 50%; */
    /* overflow: auto; */
    /* margin: auto; */
/* } */


/* 
 h1 , h2{
    background-color: navy;
    color: white;
    padding: 10px;
    align-items: center;
    margin: 1px 0;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
input{
    width: 95%;
    padding: 10px 0;
    margin: 10px 0;
    margin-left: 50px;
}
button {
    background: navy;
    border: none;
    width: 96%;
    color: white;
    padding: 10px;
    margin-left: 50px;
} */

ul{
    list-style: none;
    background-color: blue;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px;
    background-color: navy;
}
a{
    color: white;
    text-decoration: none;
} 
.active{
    border-bottom: 2px solid white;
}
